  /* bai 2 */
  .avatar {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    /* margin-top: auto; */
  }

  .container{
    justify-content: center;
    border: 2px solid black;
    width: 80%;
    display: flex;
    margin-top: 20px;
    /* text-align: center; */
  }

  .box {
    justify-content: center;
    border: 2px solid black;
    margin: 10px 3px;
    /* display: inline; */
  }
  .btn {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  .item-img{
    width: 100%;
    height: 100%;
  }